@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Clase Básica de jQuery</title>
    <style>
        .error {
            color: red;
            font-size: 0.9em;
        }
    </style>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/jquery/dist/jquery.js"></script>

</head>
<body>

 

    <h2>Formulario de Contacto</h2>

    <form id="contactForm">
        <label for="name">Nombre:</label><br>
        <input type="text" id="name" name="name"><br>
        <span class="error" id="nameError"></span><br>

        <label for="email">Correo Electrónico:</label><br>
        <input type="text" id="email" name="email"><br>
        <span class="error" id="emailError"></span><br><br>

        <input type="submit" value="Enviar">
    </form>

    <input type="text" id="message" name="message">
    <br>

</body>
</html>

<script src="~/js/demoajax.js"></script>
