@{
    ViewData["Title"] = "Index";
}

<h2>Lista de Escuelas</h2>

<button id="listSchoolsButton" class="btn btn-primary">Listar Escuelas</button>
<button id="createSchoolButton" class="btn btn-success">Crear Escuela</button>
<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Nombre</th>
        </tr>
    </thead>
    <tbody>
        <!-- Aquí se llenará la tabla con los estudiantes -->
    </tbody>
</table>


<!-- Modal para crear estudiante -->
<div class="modal fade" id="createSchoolModal" tabindex="-1" role="dialog" aria-labelledby="createSchoolLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="createStudentLabel">Crear Escuela</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <!-- El contenido del modal se carga aquí -->
                <div>
                    <form id="createSchoolForm">
                        <div class="form-group">
                            <label for="Name">Nombre</label>
                            <input type="text" id="name" name="name" class="form-control" />
                        </div>
                        <br />
                        <button type="button" id="saveSchoolButton" class="btn btn-success">Guardar</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>




<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<script>
    $(document).ready(function () {


        $('#createSchoolButton').click(function () {
            //Si quiero mostrar sin usar la vista parcial
            $('#createSchoolModal').modal('show');
        });


        $('#saveSchoolButton').click(function () {

            $.ajax({
                type: "POST",
                url: "/SchoolsAjax/Create",
                data: {
                    name: $("#name").val()                    
                },
                success: function (response) {

                    
                    Swal.fire({
                        title: "Good job!",
                        text: response.message,
                        icon: "success"
                    });
                    $('#createSchoolModal').modal('hide');
                    GetSchools();              

                },
                error: function () {
                    alert('Hubo un error al enviar el formulario.');
                }
            });
            

        });

        $('#listSchoolsButton').click(function () {          
            GetSchools();
        });

        function GetSchools() {
            $.ajax({
                type: "GET",
                url: "/SchoolsAjax/Get",
                success: function (result) {
                    var tableBody = $('table tbody');
                    tableBody.empty(); // Vaciar la tabla

                    result.forEach(function (school) {
                        var newRow = `
                                                    <tr>
                                                        <td>${school.schoolID}</td>
                                                        <td>${school.name}</td>
                                                    </tr>`;
                        tableBody.append(newRow);
                    });
                },
                error: function () {
                    alert('Hubo un error al listar los estudiantes.');
                }
            });
        }




    });
</script>


